@page
@* @model SlippiStatsWeb.Pages.CharactersModel *@
@{
    ViewData["Title"] = "Melee Characters";
}

<html>

<body>
    <h2 class="subheader-line">Elite Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/fox.jpg" alt="Fox" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Fox</h3>
            <p><strong>Character Category:</strong> Fastfaller</p>
            <p><strong>Character Type:</strong> Rushdown/Aggressive</p>
            <p><strong>Top Players:</strong> Cody Schwab, Aklo, Joshman</p>
            <p><strong>Franchise:</strong> Star Fox</p>
            <p><strong>Historical Counter:</strong> Marth, Peach, DK</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/marth.jpg" alt="Marth" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Marth</h3>
            <p><strong>Character Category:</strong> Grounded</p>
            <p><strong>Character Type:</strong> Balanced</p>
            <p><strong>Top Players:</strong> Zain, Kodorin, Ossify</p>
            <p><strong>Franchise:</strong> Fire Emblem</p>
            <p><strong>Historical Counter:</strong> Fox, Link, Yoshi</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/falco.jpg" alt="Falco" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Falco</h3>
            <p><strong>Character Category:</strong> Fastfaller</p>
            <p><strong>Character Type:</strong> Zoning/Counter-Attack</p>
            <p><strong>Top Players:</strong> Mang0, Magi</p>
            <p><strong>Franchise:</strong> Star Fox</p>
            <p><strong>Historical Counter:</strong> Jigglypuff, Fox, Marth</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/sheik.jpg" alt="Sheik" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Sheik</h3>
            <p><strong>Character Category:</strong> Fastfaller</p>
            <p><strong>Character Type:</strong> Defensive/Grabber</p>
            <p><strong>Top Players:</strong> Jmook, Spark</p>
            <p><strong>Franchise:</strong> Zelda</p>
            <p><strong>Historical Counter:</strong> Jigglypuff, Ice Climbers</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/jigglypuff.jpg" alt="Jigglypuff" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Jigglypuff</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning/Defensive</p>
            <p><strong>Top Players:</strong> Hungrybox</p>
            <p><strong>Franchise:</strong> Pokémon</p>
            <p><strong>Historical Counter:</strong> Fox, Marth, Roy (Yoshi's)'</p>
        </div>
    </div>

    <h2 class="subheader-line">Top Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/captainfalcon.jpg" alt="Captain Falcon" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Captain Falcon</h3>
            <p><strong>Character Category:</strong> Fastfaller</p>
            <p><strong>Character Type:</strong> Rushdown/Counter-Attack</p>
            <p><strong>Top Players:</strong> n0ne, Wizzrobe</p>
            <p><strong>Franchise:</strong> F-Zero</p>
            <p><strong>Historical Counter:</strong> Peach, Falco, Sheik</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/peach.jpg" alt="Peach" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Peach</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning/Defensive</p>
            <p><strong>Top Players:</strong> Llod, Trif</p>
            <p><strong>Franchise:</strong> Mario</p>
            <p><strong>Historical Counter:</strong> Jigglypuff, Marth</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/iceclimbers.jpg" alt="Ice Climbers" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Ice Climbers</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Grabber</p>
            <p><strong>Top Players:</strong> Nicki</p>
            <p><strong>Franchise:</strong> Ice Climber</p>
            <p><strong>Historical Counter:</strong> Peach</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/ssbmyoshi.jpg" alt="Yoshi" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Yoshi</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Brawler</p>
            <p><strong>Top Players:</strong> aMSa</p>
            <p><strong>Franchise:</strong> Yoshi</p>
            <p><strong>Historical Counter:</strong> Fox</p>
        </div>
    </div>

    <h2 class="subheader-line">Mid Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/donkeykong.jpg" alt="Donkey Kong" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Donkey Kong</h3>
            <p><strong>Character Category:</strong> Heavy</p>
            <p><strong>Character Type:</strong> Grabber</p>
            <p><strong>Top Players:</strong> Junebug, Bing</p>
            <p><strong>Franchise:</strong> Donkey Kong</p>
            <p><strong>Historical Counter:</strong> Sheik</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/pikachu.jpg" alt="Pikachu" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Pikachu</h3>
            <p><strong>Character Category:</strong> Fast Faller</p>
            <p><strong>Character Type:</strong> Balanced</p>
            <p><strong>Top Players:</strong> Axe</p>
            <p><strong>Franchise:</strong> Pokémon</p>
            <p><strong>Historical Counter:</strong> Jigglypuff, Fox</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/samus.jpg" alt="Samus" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Samus</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning/Defensive</p>
            <p><strong>Top Players:</strong> Morsecode, Wevans</p>
            <p><strong>Franchise:</strong> Metroid</p>
            <p><strong>Historical Counter:</strong> Falco, Fox, Doctor Mario</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/drmario.jpg" alt="Dr. Mario" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Dr. Mario</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Balanced</p>
            <p><strong>Top Players:</strong> Franz, Shroomed </p>
            <p><strong>Franchise:</strong> Mario</p>
            <p><strong>Historical Counter:</strong> Jiglypuff, Peach, Ice Climbers, Falco </p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/luigi.jpg" alt="Luigi" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Luigi</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Slippery/Random</p>
            <p><strong>Top Players:</strong> Eddy Mexico, Jah Ridin</p>
            <p><strong>Franchise:</strong> Mario</p>
            <p><strong>Historical Counter:</strong> Marth, Sheik, Fox</p>
        </div>
    </div>

    <h2 class="subheader-line">Viable Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/link.jpg" alt="Link" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Link</h3>
            <p><strong>Character Category:</strong> Heavy</p>
            <p><strong>Character Type:</strong> Zoning</p>
            <p><strong>Top Players:</strong> Aklo, Skerzo</p>
            <p><strong>Franchise:</strong> Zelda</p>
            <p><strong>Historical Counter:</strong> Fox, Falcon</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/ganondorf.jpg" alt="Ganondorf" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Ganondorf</h3>
            <p><strong>Character Category:</strong> Heavy</p>
            <p><strong>Character Type:</strong> Read-Based</p>
            <p><strong>Top Players:</strong> n0ne (Other notable players have been banned from competitive play, look up independently to find them for their playstyle)</p>
            <p><strong>Franchise:</strong> Zelda</p>
            <p><strong>Historical Counter:</strong> Fox, Falco, Samus</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/younglink.jpg" alt="Young Link" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Young Link</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning</p>
            <p><strong>Top Players:</strong> Scorp</p>
            <p><strong>Franchise:</strong> Zelda</p>
            <p><strong>Historical Counter:</strong> Falco, Fox</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/mario.jpg" alt="Mario" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Mario</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Balanced</p>
            <p><strong>Top Players:</strong> None Prominent</p>
            <p><strong>Franchise:</strong> Mario</p>
            <p><strong>Historical Counter:</strong> Jiglypuff, Peach, Ice Climbers, Falco</p>
        </div>
    </div>

    <h2 class="subheader-line">Semi-Viable Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/mrgame&watch.jpg" alt="Mr. Game &amp; Watch" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Mr. Game & Watch</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Punish</p>
            <p><strong>Top Players:</strong> None Prominent</p>
            <p><strong>Franchise:</strong> Game & Watch</p>
            <p><strong>Historical Counter:</strong> Fox</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/roy.jpg" alt="Roy" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Roy</h3>
            <p><strong>Character Category:</strong> Fastfaller</p>
            <p><strong>Character Type:</strong> Balanced</p>
            <p><strong>Top Players:</strong> DontTestMe</p>
            <p><strong>Franchise:</strong> Fire Emblem</p>
            <p><strong>Historical Counter:</strong> Marth</p>
        </div>
    </div>

    <h2 class="subheader-line">Low Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/mewtwo.jpg" alt="Mewtwo" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Mewtwo</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Floaty/Read-Based</p>
            <p><strong>Top Players:</strong> Leffen, Taj, Zoma</p>
            <p><strong>Franchise:</strong> Pokémon</p>
            <p><strong>Historical Counter:</strong> Any elite, top or high tier</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/zelda.jpg" alt="Zelda" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Zelda</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning/Finisher</p>
            <p><strong>Top Players:</strong> The Lake, Jmook</p>
            <p><strong>Franchise:</strong> Zelda</p>
            <p><strong>Historical Counter:</strong> Any elite, top or high tier</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/ness.jpg" alt="Ness" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Ness</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Zoning</p>
            <p><strong>Top Players:</strong> Joey Bats</p>
            <p><strong>Franchise:</strong> EarthBound</p>
            <p><strong>Historical Counter:</strong> DK, Any Elite, Top, or High tier</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/pichu.jpg" alt="Pichu" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Pichu</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Rushdown</p>
            <p><strong>Top Players:</strong> Codeman</p>
            <p><strong>Franchise:</strong> Pokémon</p>
            <p><strong>Historical Counter:</strong> The entire cast</p>
        </div>
    </div>

    <h2 class="subheader-line">Bottom Tier</h2>

    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/kirby.jpg" alt="Kirby" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Kirby</h3>
            <p><strong>Character Category:</strong> Floaty</p>
            <p><strong>Character Type:</strong> Gimmicky/Defensive</p>
            <p><strong>Top Players:</strong> Triple R</p>
            <p><strong>Franchise:</strong> Kirby</p>
            <p><strong>Historical Counter:</strong> The entire cast</p>
        </div>
    </div>


    <div class="character-profile" style="display: flex; margin-bottom: 30px;">
        <img src="~/images/bowser.jpg" alt="Bowser" style="width: 150px; height: auto; margin-right: 20px;">
        <div>
            <h3>Bowser</h3>
            <p><strong>Character Category:</strong> Heavy</p>
            <p><strong>Character Type:</strong> Read-Based</p>
            <p><strong>Top Players:</strong> None Prominent</p>
            <p><strong>Franchise:</strong> Mario</p>
            <p><strong>Historical Counter:</strong> The entire cast</p>
        </div>
    </div>
</body>
</html>