@page
@* @model SlippiStatsWeb.Pages.FeedbackConfirmationModel *@
@{
    ViewData["Title"] = "Feedback Received";
}

<div class="text-center" style="margin-top: 50px;">
    <h1 class="subheader">Thank You for Your Feedback!</h1>
    <p>We will respond within <strong>48–72 hours</strong> to the email address you submitted.</p>
    <p>– FramePeak Team</p>
</div>
