@page
@{
    ViewData["Title"] = "File Upload";
}

<h2 class="subheader">Upload Your Slippi Replay</h2>

<p>If you'd like to view your stats, go to the <a asp-page="/Stats">Stats Page</a>.</p>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="slpFile">Choose a .slp file to upload:</label>
        <input type="file" name="slpFile" accept=".slp" class="form-control" multiple />
    </div>

    <div style="margin-top: 15px;">
        <button type="submit" class="nav-button">Submit File</button>
        <button type="reset" class="nav-button">Clear</button>
    </div>
</form>
