@page
@model FramePeak.Pages.LogoutModel
@{
    ViewData["Title"] = "Log Out";
}



<div class="text-center" style="margin-top: 50px;">
    <h1 class="subheader">You have logged out, please return home to log in. </h1>
</div>
